{% extends "layout.html" %}
{% block sidebar %}{% include "multiarch-fixes/sidebar.html" %}{% endblock %}
{% block page_title %}Applied Multi-Arch Hints - Statistics{% endblock %}
{% block body %}
<div class="section" id="applied-multiarch-hints-stats">
<h1>Multi-Arch Hints - Statistics</h1>

<canvas id="hints-per-run-chart" width="800" height="450"></canvas>
<script>
new Chart($("#hints-per-run-chart"), {
    type: 'bar',
    data: {
       labels: {{ hints_per_run.items()|list|sort|map(attribute=0)|list|tojson }},
       datasets: [{
         label: "Number of hints applied",
         backgroundColor: Chart.helpers.color(window.chartColors.blue).alpha(0.5).rgbString(),
         data: {{ hints_per_run.items()|list|sort|map(attribute=1)|list|tojson }}
       }],
    },
    options: {
      title: { text: "Hints applied per run", display: true },
    },
});
</script>

<canvas id="per-kind-chart" width="800" height="450"></canvas>
<script>
new Chart($("#per-kind-chart"), {
    type: 'bar',
    data: {
       labels: {{ per_kind.items()|list|sort|map(attribute=0)|list|tojson }},
       datasets: [{
         label: "Number of hints successfully applied",
         backgroundColor: Chart.helpers.color(window.chartColors.blue).alpha(0.5).rgbString(),
         data: {{ per_kind.items()|list|sort|map(attribute=1)|list|tojson }}
       }],
    },
    options: {
      title: { text: "Hints applied", display: true },
    },
});
</script>

<canvas id="absorbed-per-kind-chart" width="800" height="450"></canvas>
<script>
new Chart($("#absorbed-per-kind-chart"), {
    type: 'bar',
    data: {
       labels: {{ absorbed_per_kind.items()|list|sort|map(attribute=0)|list|tojson }},
       datasets: [{
         label: "Number of hints merged or pushed",
         backgroundColor: Chart.helpers.color(window.chartColors.blue).alpha(0.5).rgbString(),
         data: {{ absorbed_per_kind.items()|list|sort|map(attribute=1)|list|tojson }}
       }],
    },
    options: {
      title: { text: "Hints absorbed", display: true },
    },
});
</script>

<h2>Burndown</h2>

<canvas id="burndown" width="800" height="450"></canvas>
<script>
$.getJSON("/cupboard/stats/+chart/burndown?suite=multiarch-fixes", function (json) {
new Chart($("#burndown"), {
    type: 'line',
    data: {
      datasets: [{
        label: 'Packages remaining',
        backgroundColor: window.chartColors.red,
        borderColor: window.chartColors.red,
	data: $.map(json, function(entry) { return { t: moment(entry[0]).toDate(), y: entry[1] } } ),
      }],
    },
    options: {
      title: { display: true, text: 'Package burndown' },
      scales: {
        xAxes: [{
	  type: 'time',
          distribution: 'series',
	  offset: true,
	  ticks: {
	    major: {
	      enabled: true,
	      fontStyle: 'bold'
            },
            source: 'data',
            autoSkip: true,
            autoSkipPadding: 75,
            maxRotation: 0,
            sampleSize: 100
	  },
	}],
        yAxes: [{
          display: true,
          ticks: {
              beginAtZero: true   // minimum value will be 0.
          }
        }],
      }
    },
});
});
</script>

</div>
</div>
{% endblock %}
