{% extends "layout.html" %}
{% block sidebar %}{% include "new-upstream/sidebar.html" %}{% endblock %}
{% from "run_util.html" import merge_command, reschedule_button, install_commands, publish_buttons, display_result_code, result_code_explanation, display_branch_url, display_upstream_branch_url, display_maintainer_email with context %}
{% from "debian_util.html" import display_lintian_result with context %}
{% from "new-upstream/util.html" import new_upstream_summary %}
{% block page_title %}New Upstream - {{ package }}{% endblock %}
{% block body %}
<div class="section" id="{{ package }}">
<h1>New Upstream {% if suite == 'fresh-snapshots' %}Snapshot{% else %}Release{% endif %} - {{ package }}</h1>

<ul class="metadata">
<li><a class="reference external" href="{{ tracker_url(package) }}">QA Page</a></li>
<li>Maintainer email: {{ display_maintainer_email(maintainer_email) }}</li>
{% if removed %}
<li class="not-in-archive">This package is not present in the archive.</li>
{% endif %}
{% if vcs_url %}
<li>Branch URL: {{ display_branch_url(vcs_browse, vcs_url) }}</li>
{% endif %}
{% if result and 'upstream_branch_url' in result %}
<li>Upstream Branch URL: {{ display_upstream_branch_url(result) }}</li>
{% endif %}
{% if queue_position %}
<li>Queue position: {{ queue_position }}{% if queue_wait_time %} (a {{ format_duration(queue_wait_time) }} wait){% endif %}</li>
{% endif %}
</ul>

{% if merge_proposals %}
<div class="section" id="recent-merge-proposals">
<h2>Recent merge proposals</h2>
<ul>
{% for url, status in merge_proposals %}
<li><a href="{{ url }}">{{ url }}</a> ({{ status }})</li>
{% endfor %}
</ul>
</div>
{% endif %}

{{ result_code_explanation(result_code, run) }}

{% if not result_code %}

{% if previous_runs and previous_runs[0].result_code == 'nothing-to-do' %}
<p>Nothing to do for {{ package }}</p>
{% else %}
<p>No successful merges for {{ package }}</p>
{% endif %}

{% else %}

{{ new_upstream_summary(result) }}

{% if binary_packages %}
<h2>Resulting package</h2>
<p>Built on {{ format_timestamp(finish_time) }} (took {{ format_duration(finish_time - start_time) }})</p>

{{ install_commands(binary_packages, suite) }}

{% endif %}

<div class="section" id="more-details">
<h2>More details</h2>

<p><a href="/cupboard/pkg/{{ package }}/{{ run_id }}">Full run details</a></p>

</div>

{% endif %}

{% if candidate_version %}
<p>A new upstream version is available: <b>{{ candidate_version }}</b></p>
<!-- Candidate value: {{ candidate_value }} -->
{% endif %}

{% if vcs_url %}
{{ reschedule_button(suite, package, "Schedule a new run") }}
{% endif %}

{% if run.result_branches %}
{{ publish_buttons(suite, package) }}
{% endif %}

{% if lintian_result %}
<h2>Lintian Result</h2>

{{ display_lintian_result(lintian_result) }}

{% endif %}

{% if previous_runs and previous_runs[0].result_code not in ('nothing-to-do', 'success') %}
<h3>Historical runs</h3>

<ul>
{% for previous_run in previous_runs %}
{% if previous_run.id != run.id %}
<li>{{ format_timestamp(previous_run.start_time) }}: <a href="/cupboard/pkg/{{ package }}/{{ previous_run.id }}">{{ display_result_code(previous_run.result_code)|safe }}: {{ previous_run.description }}</a></li>
{% endif %}
{% endfor %}
</ul>

{% endif %}

</div>
{% endblock %}
