<div class="section" id="how-do-i-opt-in">
<h3><a class="toc-backref" href="#id7">How do I opt in?</a></h3>
<p>Propose a change to the <a class="reference" href="https://salsa.debian.org/jelmer/janitor.debian.net/blob/master/k8s/policy.conf">policy</a> that adds an entry for the relevant maintainer or package.</p>
<p>Alternatively, you can send me an e-mail (<a class="reference external" href="mailto:jelmer@debian.org">jelmer@debian.org</a>).</p>
</div>

