{% extends "layout.html" %}
{% from "run_util.html" import display_result_code %}
{% block sidebar %}{% include "cupboard/sidebar.html" %}{% endblock %}
{% block page_title %}Maintainer Overview{% endblock %}
{% block body %}
<div class="section" id="maintainer-overview">
<h1>Maintainer Overview - {{ maintainer }}</h1>

<h2>Merge Proposals</h2>
<h3>Open Merge Proposals</h3>
<ul>
{% for proposal in proposals %}
{% if proposal.status == 'open' %}
<li><a href="{{ proposal.url }}">{{ proposal.package }}</a> (<a href="/cupboard/merge-proposal?url={{ proposal.url|urlencode }}">Info</a>)</li>
{% endif %}
{% endfor %}
</ul>

<h3>Resolved Merge Proposals</h3>
<ul>
{% for proposal in proposals %}
{% if proposal.status != 'open' %}
<li><a href="{{ proposal.url }}">{{ proposal.package }}</a> (<a href="/cupboard/merge-proposal?url={{ proposal.url|urlencode }}">{{ proposal.status }}</a>)</li>
{% endif %}
{% endfor %}
</ul>

<h2>Candidates</h2>

<ul>
{% for candidate in candidates %}
{% if candidate.suite != 'unchanged' %}
<li><a href="/{{ candidate.suite }}/pkg/{{ candidate.package }}">{{ candidate.package }} ({{ candidate.suite }})</a></li>
{% endif %}
{% endfor %}
</ul>

<h2>Historical Runs</h2>

<ul>
{% for run in runs %}
<li><a class="reference external" href="/cupboard/pkg/{{ run.package }}/{{ run.id }}/">{{ format_timestamp(run.finish_time) }} {{ run.package}}: {{ run.command }}</a>: {{ display_result_code(run.result_code) }}</li>
{% endfor %}
</ul>

{% endblock %}
